# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# Testing
.pytest_cache/

# Database files
*.db
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

commands.txt