# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/

# Testing
.pytest_cache/

# Databases (local/dev only)
*.db
*.sqlite3

# Alembic cache
alembic/__pycache__/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/


commands.txt